
@model IList<WebApplication1.Models.RightModel>

@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}

<main>

    <!-- First Form: Submit Ke -->
    @using (Html.BeginForm("Data", "Home", FormMethod.Post, new { id = "keyForm" }))
    {
        <label for="input">Enter RefNo</label>
        <input type="text" name="input" />
        <button type="submit" name="action" value="View">View</button>
        <button type="submit" name="action" value="Create">+Create</button>
    }
    @Html.ActionLink("Download", "GeneratePDF", "Home", new { RecordID = 123 }, null)

    <!-- Second Form: Table with Checkboxes -->
    @if (ViewBag.Records != null)
    {
        using (Html.BeginForm("UpdateRecords", "Home", FormMethod.Post, new { id = "recordsForm" }))
        {
            <div class="container mt-5">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope='col' class="w-auto">Description</th>
                            <th scope="col">View</th>
                            <th scope="col">Create</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Print</th>
                            <th scope="col">Edit</th>
                            <th scope="col">All</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!---->
                        < @for (int i = 0; i < Model.Count; i++)
                                {
                                    @Html.HiddenFor(m => Model[i].form_name)
                                    @Html.HiddenFor(m => Model[i].RefNo)
                                    @Html.HiddenFor(m => Model[i].username)
                                    @Html.HiddenFor(m => Model[i].name)
                                    @Html.HiddenFor(m => Model[i].project_code)

                            <tr>
                                <td>@(Model[i].form_name)</td>
                                <td>@Html.CheckBoxFor(x => Model[i].View)</td>
                                <td>@Html.CheckBoxFor(x => Model[i].Create)</td>
                                <td>@Html.CheckBoxFor(x => Model[i].Print)</td>
                                <td>@Html.CheckBoxFor(x => Model[i].Delete)</td>
                                <td>@Html.CheckBoxFor(x => Model[i].Edit)</td>
                                <td>@Html.CheckBoxFor(x => Model[i].All)</td>
                            </tr>
                        }
                    </tbody>
                    </table>
                    @if (ViewBag.CanSubmit == "YES")
                    {
                        <button type="submit">Update Records</button>
                    }
                    else
                    {
                        <button type="submit" disabled>Update Records</button>
                    }
                    </div>
                }
            }

    <!-- Display the result from the form submission -->

</main>
